@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: rgb(59, 156, 189);
font-family: Arial, Helvetica, sans-serif;
}
header{
height: 100px;
margin-bottom: 20px;
text-align: center;
padding-top: 50px;
}
h1{
    color: white;
}
section{
background-color: white;
width: 700px;
height: 500px;
border-radius: 20px;
margin: auto;
box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.425);

}
footer{
    font-weight: bold;
font-style: italic;
color: white;
text-align: center;
padding: 10px;
}
input{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
label{
    margin-left: 10px;
    font-size: 20px;
}
#bTnadd{
    font-size: 20px;
    cursor: pointer;
}
#btnan{
  font-size: 20px;
    cursor: pointer;  
}
#pronumero{
    display: flex;
    align-items: center;
    height: 150px;
}
#telanalise{
    height: 200px;
}
select{
    width: 200px;
    margin: 10px;
}