@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: rgb(59, 156, 189);
font-family: Arial, Helvetica, sans-serif;
}
header{
height: 100px;
margin-bottom: 20px;
text-align: center;
padding-top: 50px;
}
h1{
    color: white;
}
section{
background-color: white;
width: 600px;
height: 500px;
border-radius: 20px;
margin: auto;
box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.425);

}
footer{
    font-weight: bold;
font-style: italic;
color: white;
text-align: center;
padding: 10px;
}
