@charset "UTF-8";

.caixa{
    border: 1px solid black;
    height: 100px;
    width: 200px;
}
#caixa5{
    font-weight: bolder;
}
#frutas{
    border: 2px solid black;
    width: 100px;
    font-size: 20px;
}